# 1. Игнорируем вообще ВСЕ файлы и папки по умолчанию
*

# 2. Разрешаем (не игнорируем) папки, чтобы git мог в них заглянуть
!*/

# 3. Игнорируем конкретные папки, которые нам точно не нужны
.vscode/
main_project/
tests_ai_examples/
upx*/

# 4. ВАЖНО: Внутри папок разрешаем только файлы .c
!*.c

# 5. Но запрещаем .exe (на случай, если они просочились через правило 4)
*.exe
*.o

# 6. Разрешаем сам файл .gitignore, чтобы он тоже сохранился
!.gitignore